@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap'); /*importei o estilo do google fonts na aba import */

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root { /* -- é o simbolo da variavel no CSS e tem que ser declarada no root pra disponibilizar em todo o documento*/
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:'Passion One', 'cursive';
    --fonte3:'Sriracha', 'cursive'
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh; /*tamanho máximo da viewport height(altura) */
    background-color: rgb(22, 18, 18);
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top:50px;
    font-variant: small-caps; /*deixam todas maiusculas, porem com a fonte um pouco menor, mais driscreto */

    /*text-transform: uppercase; transforma tudo em letra maiuscula mas pode ficar exagerado*/
    font-size:10vw; /*viewport width- 10% da largura total e se adapta ao espremer a tela*/
    font-family: var(--fonte2);
}

header > p {
    padding-bottom:50px;
}

header a, footer a {
    color: white;
    text-decoration: none; /*tiro firulas do texto*/
    font-weight: bolder ; /*negrito */

}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section.normal {
    background-color: white;
}
section {
    padding-top: 10vh; /* 10% do tamanho da viewport*/
    padding-bottom: 10vh;
    line-height: 2em; /* dobrei o espaçamento entre linha padrão*/
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size:3.5vw;
}

section.normal { /* section da classe normal*/
    background-color: white;
    color: black;
}

section.imagem {
    background-color:rgb(41, 41, 41);
    color: white;
}

section.imagem > p {
    display: inline-block; /* transformei em inline pra ele englobar somente ate onde acaba a linha do verso*/
    background-color: rgba(0, 0, 0, 0.103);
    padding: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}